<div *ngIf="cancion">

  <tr><td><h2>
    <div align='center' style=”padding:12px;background-color:#2E2E2E;line-height:1.4;”> {{cancion.name}} </div></h2></td></tr>
<tr><td><img src="https://i.ytimg.com/vi/y1GMS4C8S8g/maxresdefault.jpg" widht="300" height="300"/></td></tr>
<tr><td>
    <div align='center' style=”padding:12px;background-color:#088A29;line-height:1.4;”>
              <span>Song id: </span>{{cancion.id}}
   </div></td></tr>

<tr><td>
    <div align='center' style=”padding:12px;background-color:#088A29;line-height:1.4;”>
              <span>Genre: </span>{{cancion.genero}}
   </div></td></tr>

<tr><td>
    <div align='center' style=”padding:12px;background-color:#088A29;line-height:1.4;”>
              <span>Name: </span>{{cancion.name}}
   </div></td></tr>

<tr><td>
    <div align='center' style=”padding:12px;background-color:#088A29;line-height:1.4;”>
              <span>Autor: </span>{{cancion.artista}}
   </div></td></tr>

<tr><td>
    <div align='center' style=”padding:12px;background-color:#088A29;line-height:1.4;”>
              <span>Album: </span>{{cancion.album}}
   </div></td></tr>

<tr><td>
    <div align='center' style=”padding:12px;background-color:#088A29;line-height:1.4;”>
              <span>Year: </span>{{cancion.year}}
   </div></td></tr>
